@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Bungee+Outline|Hammersmith+One|Orbitron|Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');



body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    position: relative;
    overflow-x: hidden;
}

section {
    position: relative;
    overflow: hidden;
    padding-top: 55px;
}


.wrapper {
    position: relative;
    min-height: 100%;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 40px;

    p {
        font-family: 'Russo One', sans-serif;
    }
}


h1 {
    color: #960a0a;
    text-align: center;
    font-size: 6.5rem;
    font-family: 'Bungee Outline', cursive;
    text-shadow: 0px 0px 17px red, 5px 4px 1px rgba(0, 0, 0, 0.5);
}

.desription {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.licens {
    font-size: 20px;
}

p {
    color: #960a0a;
    font-size: 23px;
    font-family: 'Orbitron', sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    z-index: 10000;
}

ul {
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 15px;
    color: #960a0a;
    background-color: #960a0a3f;
    -webkit-box-shadow: 0px 1px 5px 4px #960a0a;
    box-shadow: 0px 1px 5px 4px #960a0a;
}

li {
    color: #960a0a;
    padding: 0px 20px;
    font-size: 20px;
    transition: 0.25s linear;
    line-height: 50px;
    font-family: 'Hammersmith One', sans-serif;
    margin-bottom: 10px;

    &:hover {
        box-shadow: 1px 1px 1px 1px #960a0a;
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
        transform: rotateY(2);
    }
}

a {
    display: block;
    text-align: center;
    height: 70%;
    color: #960a0a;

    &:hover {
        color: #960a0a;
        text-decoration: none;
    }
}


.text-logo {
    font-family: 'Allerta Stencil', sans-serif;
}

.prof {
    text-align: center;
}

.logo {
    color: #960a0a;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 45px;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card {
    background-color: transparent;
    padding: 50px;
    border-bottom: 5px solid #960a0a;
    border-top: 5px solid #960a0a;
}

.it_team {
    padding: 10px;
    padding-bottom: 90px;
}


.card-text {
    font-size: 26px;
    font-family: 'Staatliches', cursive;
}

.image_photo {
    width: 100%;
}

.quote {
    text-align: center;
    padding: 55px;
    font-family: 'Righteous', cursive;
    color: darksalmon;
    text-shadow: 0 0 10px red;
}

.nav {
    height: 50px;
}

@import "menu-key.scss";
@import "media.scss";
