@import "./src/sass/basic/basic_styles.scss";
.card{
    width: 80%;
    background-color: transparent;
    border: none;
    padding-bottom: 100px;
}


@import "./src/sass/media/media.scss";
@import "./src/sass/key/menu-key.scss";


