//Мedia for responsible site.

@media(max-width: 1156px) {
    .logo {
        font-size: 40px;
    }

    .licens {
        font-size: 18px;
    }
}

@media(max-width: 1053px) {
    .logo {
        font-size: 30px;
    }
}
     
@media (min-width:991px) {
    #menu {
        transform: translateY(0);
        transition: 1s;
        display: flex;
        flex-direction: row;
        position: relative;
        height: auto;
        top: auto;
        right: auto;
    }

    .menu-trigger {
        display: none;
    }
}

@media (max-width:991px) {
    .logotype {
        height: 60;
    }

    .logo {
        font-size: 45px;
    }

    .image_photo {
        width: 110%;
    }

    .card-text {
        font-size: 17px;
    }

    h1 {
        font-size: 4.5rem;
    }

    p {
        font-size: 20px;
    }

    .licens {
        font-size: 18px;
    }

    b{
        font-size: 23px;
    }

    h3{
        font-size: 1.5rem;
    }

    .tab{
        display: grid;
    }

    .tab{
        height: 50%;
    }
}

@media (max-width: 600) {
    p {
        font-size: 17px;
    }

    .license {
        font-size: 17px;
    }

    b{
        font-size: 20px;
    }

    h3{
        font-size: 1.35rem;
    }

    .tab{
        display: grid;
    }
}

@media(max-width: 576px) {
    .image_photo {
        width: 100%;
    }
}

@media(max-width: 470px) {
    .logo {
        font-size: 20px;
    }

    h1 {
        font-size: 3.0rem;
    }

    p {
        font-size: 16;
    }

    .licens {
        font-size: 13px;
    }

    b{
        font-size: 18px;
    }

    h3{
        font-size: 1.20rem;
    }
    
    .tab{
        display: grid;
    }
}

@media (max-width: 414px) {
    .card{
        padding: 25px;
    }

    h2{
        font-size: 1.15rem;
    }

    p{
        font-size: 15px;
    }
    .image_photo {
        width: 110%;
    }

}

@media(max-width: 411px){
    .test-net{
        width: 80%;
    }
}

@media(max-width: 375px) {
    .image_photo {
        width: 110%;
    }
    .card{
        padding: 20px;
    }
    .it_team{
        padding-bottom: 65px;
    }
    .quote{
        padding: 35px;
    }
    h2{
        font-size: 1.3rem;
    }
    .test-net{
        width: 90%;
    }

    .tab{
        height: 65%;
    }
}

@media(max-width: 320px) {
    .logotype {
        height: 50px;
    }

    .logo {
        font-size: 16px;
    }

    .card-text {
        font-size: 13px;
    }

    p {
        font-size: 14px;
    }

    .licens {
        font-size: 10px;
    }

    b{
        font-size: 16px;
    }

    h3{
        font-size: 1.1rem;

    }

    .tab{
        display: grid;
    }

    .card{
        padding: 15px;
    }
}





